.kwrapper {
  display: inline-block;
  div {
    box-sizing: border-box;
  }
  .toolbar {
    border: 1px solid #ddd;
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
    padding: 2px 4px 3px 3px;
    .btn-gb{
      max-width: 120px;
    }
  }
  button {
    -webkit-appearance: button;
    outline: 0;
    line-height: 28px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 10px;
    height: 28px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .kprimary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }
  .kwarnnig {
    color: #fff;
    background-color: #ff9600;
    border-color: #ff9600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  .ktable {
    border-collapse:collapse;
    border: 1px solid #ddd;
    .kheader {
      .kth {
        border: 1px solid #ddd;
        text-align: center;
        font-weight: normal;
      }
    }
    input[name^="toggle"] {
      & + label {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../assets/unChecked.png) no-repeat;
        background-size: 100% 100%;
      }
      &:checked + label {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../assets/checked.png) no-repeat;
      }
    }
    .ktbody {
      .ktr {
        .ktd {
          border: 1px solid #ddd;
          text-align: center;
          .field-con {
            margin: 3px 0;
            display: flex;
            flex-direction: row;
            .field-la {
              width: 80px;
              text-align: right;
              padding-right: 3px;
            }
          }
          .form-footer {
            padding: 3px 0;
          }
          a {
            text-decoration: none;
            font-size: 15px;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            * {
              box-sizing: border-box;
            }
            .detail {
              display: flex;
              flex-direction: row;
              border-bottom: 1px solid #ddd;
              .detail-key {
                width: 25vw;
                text-align: right;
              }
              .detail-val {
                padding-left: 5px;
              }
            }
            li:last-child .detail{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}